<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-push-8 text-center">
                <button class="btn btn-primary" (click)="openSearchFriendsDialog()">Search Friends</button>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="card">
                    <div class="card-header" data-background-color="brown">
                        <h4 class="title">Yours Friends</h4>
                    </div>
                    <div class="card-content">
                        <div class="row top-buffer" *ngIf="areInvitedFriends()">
                            <h2 class="text-gray">Invited friends:</h2>
                            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let invitedFriend of invitedFriends">
                                <div class="card card-profile" (click)="openFriendDetailsDialog(invitedFriend, 'details')">
                                    <div class="card-avatar">
                                        <div *ngIf="invitedFriend.photo != null">
                                            <img class="img" [src]="getPhotoStringToDisplay(invitedFriend.photo)" />
                                        </div>
                                        <div *ngIf="invitedFriend.photo == null">
                                            <img class="img" src="..\assets\img\faces\default-user.png"/>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5 class="category text-gray">{{invitedFriend.username}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer" *ngIf="areRequestedFriends()">
                            <h2 class="text-gray">Requested Friends:</h2>
                            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let requestedFriend of requestedFriends">
                                <div class="card card-profile" (click)="openFriendDetailsDialog(requestedFriend, 'requests')">
                                    <div class="card-avatar">
                                        <div *ngIf="requestedFriend.photo != null">
                                            <img class="img" [src]="getPhotoStringToDisplay(requestedFriend.photo)" />
                                        </div>
                                        <div *ngIf="requestedFriend.photo == null">
                                            <img class="img" src="..\assets\img\faces\default-user.png"/>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5 class="category text-gray">{{requestedFriend.username}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer" *ngIf="areFriends()">
                            <h2 class="text-gray">Friends:</h2>
                            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let friend of friends">
                                <div class="card card-profile" (click)="openFriendDetailsDialog(friend, 'details')">
                                    <div class="card-avatar">
                                        <div *ngIf="friend.photo != null">
                                            <img class="img" [src]="getPhotoStringToDisplay(friend.photo)" />
                                        </div>
                                        <div *ngIf="friend.photo == null">
                                            <img class="img" src="..\assets\img\faces\default-user.png"/>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h5 class="category text-gray">{{friend.username}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>