<h1 md-dialog-title>Add Discovery</h1>
<div md-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="file != null">
                <img class="img" width="80%" height="80%" [attr.src]="getDiscoveryPhotoToDisplay()" />
            </div>
            <div *ngIf="file == null">
                <label class="btn btn-primary btn-round text-center">
                    <input type="file" name="file" accept="image/*"
                           (change)="handleInputChange($event)" style="display:none">
                    Add Photo
                </label>
            </div>
            <sebm-google-map [latitude]="discovery.coordinateX" [longitude]="discovery.coordinateY"
                             class="sebm-google-map-container-small" [zoom]="zoom">
                <sebm-google-map-marker
                        (markerClick)="clickedMarker(marker.label)"
                        [latitude]="discovery.coordinateX"
                        [longitude]="discovery.coordinateY"
                        [label]="'Your Discovery'"
                        [markerDraggable]="true"
                        (dragEnd)="markerDragEnd(discovery, $event)"
                        (mapClick)="mapClicked($event)">
                </sebm-google-map-marker>
            </sebm-google-map>
        </div>
        <div class="col-md-6">
            <md-select placeholder="Species" [(ngModel)]="speciesId">
                <md-option *ngFor="let species of mushroomSpecies" [value]="species.id">{{species.name}}</md-option>
            </md-select>
        </div>
    </div>
</div>
<div md-dialog-actions align="end">
    <button class="btn btn-primary" md-button (click)="dialogRef.close('Ok')">Ok</button>
    <button class="btn btn-primary" md-button (click)="dialogRef.close('Close')">Close</button>
</div>