<h1 md-dialog-title>Add Discovery</h1>
<div md-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <div class="row top-buffer">
                <div *ngIf="imageSrc != null" class="text-center">
                    <div class="card">
                        <div class="card-image">
                            <img class="img" width="80%" height="80%" [attr.src]="imageSrc"/>
                        </div>
                    </div>
                </div>
                <div *ngIf="imageSrc == null" class="text-center">
                    <label class="btn btn-primary btn-round">
                        <input type="file" name="file" accept="image/*"
                               (change)="handleInputChange($event)" style="display:none">
                        Add Photo
                    </label>
                </div>
            </div>
            <div class="row top-buffer">
                <sebm-google-map [latitude]="discovery.coordinateX" [longitude]="discovery.coordinateY"
                                 class="sebm-google-map-container-small" [zoom]="zoom">
                    <sebm-google-map-marker
                            [latitude]="discovery.coordinateX"
                            [longitude]="discovery.coordinateY"
                            [label]="'Your Discovery'"
                            [markerDraggable]="true"
                            (dragEnd)="markerDragEnd(discovery, $event)"
                            (mapClick)="mapClicked($event)">
                    </sebm-google-map-marker>
                </sebm-google-map>
            </div>
        </div>
        <div class="col-md-6">
            <div class="top-buffer text-center">
                <div class="checkbox" (click)="checkboxOnClick($event)">
                    <label>
                        <input type="checkbox" name="optionsCheckboxes">
                        Public
                    </label>
                </div>
            </div>
            <div class="top-buffer">
                <div class="form-group label-floating">
                    <label class="control-label">Tags</label>
                    <input type="text" class="form-control" name="tagsString" [(ngModel)]="tagsString"/>
                </div>
            </div>
            <div class="top-buffer text-center">
                <md-select placeholder="Species" [(ngModel)]="speciesId">
                    <md-option *ngFor="let species of mushroomSpecies" [value]="species.id">{{species.name}}</md-option>
                </md-select>
            </div>
            <div class="top-buffer text-center">
                <md-select placeholder="Trip" [(ngModel)]="tripId">
                    <md-option *ngFor="let trip of trips" [value]="trip.id">{{trip.place}} {{trip.dateTime}}</md-option>
                </md-select>
            </div>
        </div>
    </div>
</div>
<div md-dialog-actions align="end">
    <button class="btn btn-primary" md-button (click)="addDiscovery()">Ok</button>
    <button class="btn btn-primary" md-button (click)="dialogRef.close('Close')">Close</button>
</div>