target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Node ###
frontend/src/main/frontend/node_modules/
frontend/src/main/frontend/node/
frontend/src/main/frontend/npm-debug.log

### SASS ###
frontend/src/main/frontend/.sass-cache

### VS CODE ###
/frontend/src/main/frontend/.editorconfig

### Creative Team Template 
/frontend/src/main/frontend/README.md
/frontend/src/main/frontend/LICENSE.md

### Visual Paradigm UML
/uml/.Mushrooms.vpp.lck
/uml/Mushrooms.vpp.bak_000f
/uml/Mushrooms.vux