<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-push-8 text-center">
                <button class="btn btn-primary" (click)="openAddDiscoveryDialog()">Add Discovery</button>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="card">
                    <div class="card-header" data-background-color="brown">
                        <h4 class="title">Your Discoveries</h4>
                    </div>
                    <div class="card-content">
                        <div class="top-buffer">
                            <div class="col-6 col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                        My
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes">
                                        My Friends
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes">
                                        Public
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="top-buffer">
                            <form role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" (keyup)="search($event.target.value)">
                                    <span class="material-input"></span>
                                </div>
                            </form>
                        </div>
                        <div class="top-buffer">
                            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let discovery of discoveries">
                                <div class="card card-stats" (click)="openDiscoveryDetailsDialog(discovery)">
                                    <div class="card-image">
                                        <div *ngIf="discovery.photo != null">
                                            <img class="img" [src]="getDiscoveryPhotoToDisplay(discovery)" />
                                        </div>
                                        <div *ngIf="discovery.photo == null">
                                            <img class="img" width="80%" height="80%" src="..\assets\img\mushrooms-icon.png"/>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="category text-gray">Mushroom</p>
                                        <h3 class="title text-gray">{{convertDateToLocaleString(discovery.dateTime)}}</h3>
                                    </div>
                                    <div class="card-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>