<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="brown">
                        <h4 class="title">Edit Profile</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">
                        <form name="user-form" (ngSubmit)="f.form.valid && update()" #f="ngForm" id="userForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" name="email" id="email"  [(ngModel)]="user.email"
                                               #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required />
                                        <div *ngIf="f.submitted && !email.valid" class="help-block">
                                            Email is required format should be <i>name@mail.com</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username"
                                               #username="ngModel" minlength="4" maxlength="30" required />
                                        <div *ngIf="f.submitted && !username.valid" class="help-block">
                                            Username is required, should contain between 4 and 30 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" name="first-name" id="firstName" [(ngModel)]="user.firstName"
                                               #firstName="ngModel" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" name="last-name" id="lastName" [(ngModel)]="user.lastName"
                                               #lastName="ngModel"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
                                        <label class="control-label">Country</label>
                                        <input type="text" class="form-control" name="country" id="country" [(ngModel)]="user.country"
                                               #country="ngModel" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
                                        <label class="control-label">City</label>
                                        <input type="text" class="form-control" name="city" id="city" [(ngModel)]="user.city"
                                               #city="ngModel"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !inputDate.valid }">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                                            </span>
                                            <input mdInput [mdDatepicker]="picker" class="form-control" name="input-date" [(ngModel)]="inputDate"
                                                placeholder="Birth Date" />
                                            <md-datepicker #picker></md-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" [(ngModel)]="user.gender" name="gender" value="MALE">
                                            Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" [(ngModel)]="user.gender" name="gender" value="FEMALE">
                                            Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary pull-right">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <div *ngIf="user.photo != null">
                            <img class="img" [src]="getPhotoStringToDisplay(user.photo)" />
                        </div>
                        <div *ngIf="user.photo == null">
                            <img class="img" src="..\assets\img\faces\default-user.png"/>
                        </div>
                    </div>
                    <div class="content">
                        <h5 class="category text-gray">{{user.username}}</h5>
                        <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
                        <h4 class="card-title">{{user.level}}</h4>
                        <label class="btn btn-primary btn-round">
                            <input type="file" name="file" accept="image/*"
                                   (change)="handleInputChange($event)" style="display:none">
                            Change Profile Photo
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>