<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let notification of notifications; let i = index">
                <div class="alert alert-primary alert-with-icon" data-notify="container" (click)="openDialog(notification.relatedId, notification.type)">
                    <button type="button" aria-hidden="true" class="close" (click)="deleteNotification(notification.id, i)">×</button>
                    <i data-notify="icon" class="material-icons">{{getIconType(notification.type)}}</i>
                    <span data-notify="message">{{notification.content}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
