<h1 md-dialog-title>Discovery Details</h1>
<div md-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <div class="row top-buffer">
                <img class="img" width="80%" height="80%" src="..\assets\img\mushrooms-icon.png"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-gray">Name:</h5>
                </div>
                <div class="col-md-8">
                    <h5 class="text-gray">Mushrooms</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-gray">Coordinate X:</h5>
                </div>
                <div class="col-md-8">
                    <h5 class="text-gray">{{discovery.coordinateX}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-gray">Coordinate Y:</h5>
                </div>
                <div class="col-md-8">
                    <h5 class="text-gray">{{discovery.coordinateY}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-gray">Date and Time:</h5>
                </div>
                <div class="col-md-8">
                    <h5 class="text-gray">{{discovery.dateTime}}</h5>
                </div>
            </div>
            <div class="row">
                <sebm-google-map [latitude]="discovery.coordinateX" [longitude]="discovery.coordinateY"
                                 class="sebm-google-map-container-small" [zoom]="zoom">
                    <sebm-google-map-marker [latitude]="discovery.coordinateX"
                                            [longitude]="discovery.coordinateY"></sebm-google-map-marker>
                </sebm-google-map>
            </div>
        </div>
    </div>
    <div *ngIf="showRating" class="row top-buffer text-center">
        <h5>Rate:</h5>
        <rating [(ngModel)]="starsCount"
                (click)="rate()" >
        </rating>
    </div>
    <div class="row">
        <div class="col-xs-3" *ngFor="let tag of discovery.tags">
            #{{tag.name}}
        </div>
    </div>
    <div class="row top-buffer">
        <comments-tree-cmp [comments]="comments"></comments-tree-cmp>
        <textarea class="form-control comment-textarea" placeholder="Comment" rows="5"></textarea>
        <div class="text-center">
            <button class="text-button" (click)="comment()"><b>Submit</b></button>
        </div>
    </div>
</div>
<div md-dialog-actions align="end">
    <button class="btn btn-primary" md-button (click)="dialogRef.close('Close')">Close</button>
</div>