<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-push-8 text-center">
                <button class="btn btn-primary" (click)="openAddTripDialog()">Add Trip</button>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <div class="card">
                    <div class="card-header" data-background-color="brown">
                        <h4 class="title">Your Trips</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th><b>Place</b></th>
                                <th><b>Date and Time</b></th>
                                <!--<th>Status</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let trip of trips" (click)="openTripDetailsDialog(trip)">
                                <td>{{trip.place}}</td>
                                <td>{{convertDateToLocaleString(trip.dateTime)}}</td>
                                <!--<td>{{trip.status()}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
