<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="brown">
                        <h4 class="title">Your Trips</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Place</th>
                                    <th>Time</th>
                                    <!--<th>Status</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let trip of trips">
                                    <td>{{trip.place}}</td>
                                    <td>{{trip.dateTime}}</td>
                                    <!--<td>{{trip.status()}}</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
