<div class="row">
    <div class="col-md-2 text-right">
        <div *ngIf="comment.user.photo != null">
            <div class="comment-img-mask">
                <img class="comment-img" [src]="getUserPhotoToDisplay()" />
            </div>
        </div>
        <div *ngIf="comment.user.photo == null">
            <div class="comment-img-mask">
                <img class="comment-img" src="..\assets\img\faces\default-user.png" />
            </div>
        </div>        
    </div>
    <div class="col-md-10">
        <div class="row">
            <span class="list-group-item"><h4>{{comment.user.username}}</h4></span>
            {{comment.content}}
        </div>
        <div class="row">
            <button *ngIf="!textBox" class="text-button" (click)="write()">reply</button>
            <div *ngIf="comment.answers.length">
                <div *ngIf="expanded; else hide">
                    <button class="text-button" (click)="toggle()">hide answers</button>
                    <comments-tree-cmp [comments]="comment.answers"></comments-tree-cmp>
                </div>
                <ng-template #hide>
                    <button class="text-button" (click)="toggle()">show answers</button>
                </ng-template>
            </div>
            <div class="row">
                <div *ngIf="textBox">
                    <textarea class="form-control" placeholder="Answer" rows="5" [(ngModel)]="commentContent"></textarea>
                    <button class="text-button" (click)="submit()">submit</button>
                    <button class="text-button" (click)="cancel()">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>