<h1 md-dialog-title>Add Trip</h1>
<div md-dialog-content>
    <div class="row">
        <div class="container">
            <div class="form-group">
                <input placeholder="Search for location" id="search" autocorrect="off" autocapitalize="off" spellcheck="off" [(ngModel)]="trip.place"
                       type="text" class="form-control" #search [formControl]="searchControl">
            </div>
            <sebm-google-map [latitude]="marker.lat" [longitude]="marker.lng" class="sebm-google-map-container-small">
                <sebm-google-map-circle [latitude]="marker.lat" [longitude]="marker.lng"
                    [radius]="radius"
                    [fillColor]="'green'"
                    [circleDraggable]="true"
                    [editable]="true"
                    (dragEnd)="circleDragEnd(marker, $event)">
                </sebm-google-map-circle>
            </sebm-google-map>
        </div>
    </div>
</div>
<div md-dialog-actions align="end">
    <button class="btn btn-primary" md-button (click)="dialogRef.close('Ok')">Ok</button>
    <button class="btn btn-primary" md-button (click)="dialogRef.close('Close')">Close</button>
</div>