<sebm-google-map
        [latitude]="coordinateX"
        [longitude]="coordinateY"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false">

    <sebm-google-map-marker
            *ngFor="let discovery of discoveries"
            [latitude]="discovery.coordinateX"
            [longitude]="discovery.coordinateY"
            [label]="'Mushroom'"
            [markerDraggable]="false"
            (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
            <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

    </sebm-google-map-marker>

    <sebm-google-map-circle
            *ngFor="let trip of trips"
            [latitude]="trip.coordinateX"
            [longitude]="trip.coordinateY"
            [radius]="trip.radius"
            [fillColor]="'green'"
            [circleDraggable]="false"
            [editable]="false">
    </sebm-google-map-circle>

</sebm-google-map>
