<div class="wrapper">
    <div *ngIf="!isLogged()">
        <authentication-cmp></authentication-cmp>
    </div>
    <div *ngIf="true == logged">
        <div class="sidebar" data-color='brown' data-image="">
            <sidebar-cmp></sidebar-cmp>
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <dashboard-cmp></dashboard-cmp>
            <div *ngIf="isMaps('/maps')">
                <footer-cmp></footer-cmp>
            </div>
        </div>
    </div>
</div>
