<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="brown">
                        <h4 class="title">Mushroom List</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                            <tr>
                                <th>Mushroom</th>
                                <th>Country</th>
                                <th>City</th>
                                <th>Found By</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Podgrzybek</td>
                                <td>Polska</td>
                                <td>Rybnik</td>
                                <td>User1</td>
                                <td class="text-danger"><i class="material-icons">place</i>50.095275, 18.517643</td>
                            </tr>
                            <tr>
                                <td>Podgrzybek</td>
                                <td>Polska</td>
                                <td>Gliwice</td>
                                <td>User2</td>
                                <td class="text-danger"><i class="material-icons">place</i>50.274164, 18.689837</td>
                            </tr>
                            <tr>
                                <td>Podgrzybek</td>
                                <td>Czechy</td>
                                <td>Praga</td>
                                <td>User3</td>
                                <td class="text-danger"><i class="material-icons">place</i>50.069193, 14.481154</td>
                            </tr>
                            <tr>
                                <td>Podgrzybek</td>
                                <td>Niemcy</td>
                                <td>Berlin</td>
                                <td>User4</td>
                                <td class="text-danger"><i class="material-icons">place</i>52.478050, 13.405878</td>
                            </tr>
                            <tr>
                                <td>Podgrzybek</td>
                                <td>Ukraina</td>
                                <td>Lwow</td>
                                <td>User5</td>
                                <td class="text-danger"><i class="material-icons">place</i>49.794934, 23.985083</td>
                            </tr>
                            <tr>
                                <td>Podgrzybek</td>
                                <td>Slowacja</td>
                                <td>Bratyslawa</td>
                                <td>User6</td>
                                <td class="text-danger"><i class="material-icons">place</i>48.125953, 17.107852</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>